.clients header {
  text-align: center;
  max-width: 35rem;
  margin: 0 auto 5.625rem;
}

.clients .badge {
  margin-bottom: 1.875rem;
}

.clients .content {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem 10rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.5rem;
}

.clients img {
  max-width: 8.5rem;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.clients img:hover {
  opacity: 1;
}

.clients .buttons {
  display: flex;
  justify-content: center;
}
