.footer {
  background: #101010;
  color: #e6e6e6;
}

.footer .content {
  display: flex;
  gap: 15rem;
}

.footer .footer-logo {
  max-width: 5rem;
}

.footer .footer-logo .logo {
  width: 3rem;
}

.footer .right-side-content {
  display: flex;
  gap: 3rem;
}

.footer .footer-card .link {
  color: #fff;
}

.footer .footer-card .link:hover {
  border-color: #fff;
}

.footer .social-networks.list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.footer .social-networks .icon {
  color: #fff;
}
