.footer {
  background: #101010;
  color: #ffffffe3;
}

.footer .content {
  display: flex;
  justify-content: space-around;
}

.footer .logo {
  width: 3rem;
}

.footer .description {
  max-width: 20rem;
}

.footer .right-side-content {
  display: flex;
  gap: 5rem;
}

.footer .contacts .link {
  color: #ffffffe3;
}

.footer .contacts .link:hover {
  border-color: #ffffffe3;
}

.footer .social-networks {
  display: flex;
  gap: 1rem;
}

.footer .social-networks .icon {
  color: #ffffffe3;
}
