@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.site-header {
    background: #000;
    padding: 2.38rem 3.438rem 2.438rem 3.125rem;
    display: flex;
    justify-content: space-between;
}

.site-header .header-logo img{
    width: 5rem;
}

.site-header .header-buttons  {
  display: flex;
  gap: 2.75rem;
  
  }

.site-header .header-buttons a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}
