@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');


 body, html {
  font-family: 'IBM Plex Sans', sans-serif;
}

.site-header {
  background:transparent;
  padding: 2.46rem 3.438rem 2.438rem 3.125rem;
  display: flex;
  justify-content: space-between; 
  position: absolute;
  right: 0;
  left: 0;
}

.site-header .header-logo img {
  width: 5rem;
}

.site-header .header-buttons {
  display: flex;
  gap: 2.75rem;
}

.site-header .header-buttons a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.intro{
  background-image: url(../images/bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro .container {
  text-align: center;
  width: 48rem;
}

.intro .container h1 {
  color: #fff;
  font-size: 4.7rem;
  line-height: 1.3;
}

.button{
  padding: 1.25rem 2.5rem;
  background-color: #fff;
  color: #101010;
  border: none;
  cursor: pointer;
}

.button:hover{
  background-color: #f1f1f1;
}

.intro .container .buttons{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.intro .buttons a{
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.intro .container .buttons a i{
  padding: 1.4rem 1.6rem;
}

.intro .container .buttons span{
  color: #fff;
}



  



  


